<p>Hello,</p>

<p>You have been added by the {{ name }} Organization on SimpleIssues!<br>You can access your new organization through your SimpleIssues Dashboard</p>

<p>Feel free to reply to this email if you have any questions.</p>

<p>Regards</p>
<p>The Simple Issues Team</p>
