<p>Thank You {{ name }} for your feedback</p>

<p>We are looking forward to reviewing the feedback and getting back in touch with you if required !</p>

<p>Here is a copy of your feedback:
  <br>
  {{ message }}
</p>

<p>Regards</p>
<p>The Simple Issues Team</p>
