<p>Hello,</p>

<p>You have been invited by the {{ name }} Organization on SimpleIssues!<br>
You can create an account <a href="{{ link }}">here</a>.
</p>

If the previous link did not work, try copy/pasting this link: {{link}}.

<p>Feel free to reply to this email if you have any questions.</p>

<p>Regards</p>
<p>The Simple Issues Team</p>
