<p>Hello, {{name}}</p>

<p>Here is your <a href="{{link}}">password reset link</a>. The link will be valid for 24 hours.

If the previous link did not work, try copy/pasting this link: {{link}}.

<p>Regards</p>
<p>The Simple Issues Team</p>
